.route--active {
  font-weight: bold;
}
.index-nav {
    display: flex;
    flex-direction: row;
    background-color: #d9d9d9;
    a {
        flex:1;
        color: #514f4f;
        &:hover {
            color: #23527c;
        }
        text-decoration: none;
    }
}
